# ======================
# Backend
# ======================
backend/.venv/
backend/uploads/
backend/*.log
backend/vector_db/*.faiss
backend/*.txt

# ======================
# Frontend
# ======================
frontend/node_modules/

# ======================
# General
# ======================
.env
__pycache__/
*.pyc